* {
    margin: 0;
    padding: 0;
    font-size: 36px;
}

/*.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
} */